@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply m-0 box-border p-0;
}

.font-kanit {
  font-family: "Kanit", sans-serif;
}

.font-lato {
  font-family: "Lato", sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
